.*.sw?
*.7z
*.RPT
*.a
*.cmake
*.debug
*.dmp
*.dll
*.exe
*.o
*.pyc
*.zip
bin
_CPack_Packages
CMakeCache.txt
CMakeFiles
compile_commands.json
Makefile
drmingw-*-win*
install_manifest.txt
symsrv.yes
Testing
