.*.sw?
.cache
*.7z
*.RPT
*.a
*.debug
*.dmp
*.dll
*.exe
*.o
*.pyc
*.zip
*~
bin
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CMakeLists.txt.user
CMakeScripts
compile_commands.json
CPackConfig.cmake
_CPack_Packages
CPackSourceConfig.cmake
CTestTestfile.cmake
_deps
downloads
drmingw-*-win*
install_manifest.txt
Makefile
symsrv.yes
Testing
/build
