.*.sw?
*.7z
*.RPT
*.a
*.cmake
*.debug
*.dmp
*.dll
*.exe
*.o
*.pyc
*.zip
*~
bin
CMakeCache.txt
CMakeFiles
compile_commands.json
_CPack_Packages
downloads
drmingw-*-win*
install_manifest.txt
Makefile
symsrv.yes
Testing
