[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/madler/zlib
	shallow = true
[submodule "thirdparty/libdwarf"]
	path = thirdparty/libdwarf
	url = https://git.code.sf.net/p/libdwarf/code
	shallow = false
