/*
 * Copyright 2002-2013 Jose Fonseca
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 */


#include <windows.h>
#include "resource.h"

#define VER_INTERNALNAME_STR        "DrMingw"
#define VER_FILEDESCRIPTION_STR     VER_PRODUCTNAME_STR " application."
#define VER_ORIGINALFILENAME_STR    "drmingw.exe"

#include "version.h"

IDI_MAINICON ICON DISCARDABLE "icon.ico"

IDM_MAINMENU MENU
{
    POPUP "&File"
    {
        MENUITEM "Save &As...", CM_FILE_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "E&xit", CM_FILE_EXIT
    }
    POPUP "&Help"
    {
        MENUITEM "&About", CM_HELP_ABOUT
    }
}

IDD_ABOUT DIALOG 0, 0, 155, 134
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
// FIXME llvm-rc can't parse adjacent strings
#ifndef __clang__
CAPTION "About " VER_PRODUCTNAME_STR
#else
CAPTION "About Dr. Mingw"
#endif
FONT 8, "MS Sans Serif"
{
   CONTROL "&OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 51, 115, 50, 14
   CONTROL "About This Program", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 5, 145, 105
#ifndef __clang__
   CONTROL "A JIT debugger that collects debugging information about unhandled exceptions.\r\n"
           "\r\n"
           VER_PRODUCTNAME_STR " version " VER_PRODUCTVERSION_STR "\r\n"
           "\r\n"
           VER_LEGALCOPYRIGHT_STR,
#else
   CONTROL "A JIT debugger that collects debugging information about unhandled exceptions.\r\n",
#endif
           -1, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 27, 27, 100, 80
}
